:root {
    --university-blue: #002E5A;
    --cougar-blue: #0062a5;
    --spirit-blue: #3ab5e8;
    --rich-black: #222222;
    --gray-30: #bcbec0;
    --gray-20: #d1d3d4;
    --light-black: #555753;
}

body {
    font-family: monaco, Consolas, Lucida Console, monospace !important;
}

h3 {
    color: var(--gray-30);
}

p {
    color: var(--gray-20);
}

.hide {
    opacity: 0 !important;
    transition: opacity 300ms ease-in-out !important;
}

.rotate-45 {
    transform: rotate(45deg) translateY(7px) translateX(7px) !important;
}

.rotate--45 {
    transform: rotate(-45deg) translateY(-7px) translateX(7px) !important;
}
